<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.quickits.hemera">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>

        <activity android:name=".MainActivity" />

    </application>

</manifest>
